# .gitignore
*.pth
*.pt
*.ckpt
*.onnx
output_image.jpg
Video/
__pycache__/
.idea/
.vscode/
*.log
*.DS_Store
env/
models/
model_weights/

# Ignore everything in data folder
data/
# ...except sample_images folder inside data
!data/sample_images/
!data/sample_images/*

# Ignore everything in experimental folder — remove or override:
# experimental/
!experimental/
!experimental/*

venv/
videos/
images/
#*.jpg
output/
# models/

# Ignore setup_guide.md in the root directory
setup_guide.md
